/*
Primary Colors

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

Neutral Colors
Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%)
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.testimonials {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1000px;
}

.testimonials * {
  margin: 0;
}

.testimonials > div {
  border-radius: 5px;
  padding: 1.25rem;
  box-shadow: 0 0.5rem 1rem #447;
}

#t1 {
  background-color: hsl(263, 55%, 52%);
}

#t2 {
  background-color: hsl(217, 19%, 35%);
}

#t3 {
  background-color: hsl(0, 0%, 100%);
}

#t4 {
  background-color: hsl(0, 0%, 100%);
}

#t5 {
  background-color: hsl(219, 29%, 14%);
}

@media only screen and (min-width: 1000px) {
  .testimonials {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #t1 {
    grid-column: 1 / 3;
  }

  #t2 {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }

  #t3 {
    grid-column: 4 / 4;
    grid-row: 1 / 3;
  }

  #t4 {
    grid: 2/2 2/2;
  }

  #t5 {
    grid-column: 2 / 4;
  }
}

.full-page {
  min-height: 100vh;
}

.bg-dark {
  background: radial-gradient(#111, #447);
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
}

.bg-quote {
  background-image: url(./images/bg-pattern-quotation.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 90% 0%;
}

.p-1 {
  padding: 1.25rem;
}

.my-1 {
  margin: 1rem 0;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.text-dark {
  color: hsl(217, 19%, 35%);
}

.text-light {
  color: hsl(210, 46%, 95%);
}

.text-normal {
  font-size: inherit;
}

.text-large {
  font-size: 1.25em;
}

.opacity-50 {
  opacity: 50%;
}

.opacity-70 {
  opacity: 70%;
}

.attribution {
  font-size: inherit;
  color: hsl(210, 46%, 95%);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 50%;
  margin: 0 auto;
  left: 25%;
  padding: 1.25rem;
}
.attribution a {
  color: hsl(228, 45%, 66%);
}
