* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

/* Relative Unit */
/* 
100%
1em - ratio of the inherited font-size
1rem - ratio of the root font-size
100vh - percentage of the viewport height
100vw - percentage of the viewport width
100vmin - percentage of the shorter viewport side
100vmax - percentage of the longer viewport side
*/
